td{
	border: 5px solid black;
	height: 150px;
	width: 150px;
	text-align: center;
	font-size: 100px;
	border-radius: 20px;
}
.clearfix {
  	overflow: auto;
  	border: 2px solid green;
	height: 130px;
	width: 600px;
	text-align: center;
	text-shadow: 2px 2px 5px red;
	font-size: 50px;
	background-color: #b8daff;
	padding: 5px;
	margin: auto;
}

.img2 {
  float: right;
  height: 120px;
  width: 120px;
}
#b {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
#plr {
	overflow: auto;
  	border: 2px solid black;
	height: 50px;
	width: 450px;
	text-align: center;
	text-shadow: 1px 1px 2px blue;
	font-size: 35px;
	background-color: #4CAF50;
	padding: 5px;
	margin: auto;
}